:root.theme-light {
  --accent-color: #FF8DCB;
  --hover-color: rgb(50, 49, 45, 0.4);
  --title-color: #FFC2E6;
  --question-color: #353430;
  --background-color: #FFF1F7;
  --background-image: url("../images/cover-image-light.png");
  --main-text-color: #353430;
  --decoration-display: none;
  --main-question-color: #353430;
}



@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --hover-color: rgb(50, 49, 45, 0.4);
    --title-color: #FFC2E6;
    --question-color: #353430;
    --background-color: #FFF1F7;
    --background-image: url("../images/cover-image-light.png");
    --main-text-color: #353430;
    --decoration-display: none;
    --main-question-color: #353430;
  }
}


.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
